basePath: /
definitions:
  auth.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  auth.LoginResponse:
    properties:
      access_token:
        type: string
      expires_in:
        type: integer
      refresh_token:
        type: string
      token_type:
        type: string
      user:
        $ref: '#/definitions/auth.UserResponse'
    type: object
  auth.Response:
    properties:
      data: {}
      error:
        type: string
      message:
        type: string
    type: object
  auth.UserResponse:
    properties:
      created_at:
        type: string
      email:
        type: string
      id:
        description: Agora é string (Snowflake ID)
        type: string
      name:
        type: string
      role_id:
        type: integer
    type: object
host: localhost:8080
info:
  contact: {}
  description: API de autenticação e gestão de usuários com PostgreSQL e Snowflake
    ID
  title: Login Backend API
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Faz login do usuário e retorna tokens JWT
      parameters:
      - description: Credenciais de login
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/auth.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/auth.Response'
            - properties:
                data:
                  $ref: '#/definitions/auth.LoginResponse'
              type: object
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/auth.Response'
      summary: Login do usuário
      tags:
      - auth
swagger: "2.0"
